.signup-form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-addon {
  position: relative;
}

.input-icon {
  left: 15px;
  top: 10px;
  width: 25px;
  height: 25px;
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon input {
  padding-left: 63px;
}

.signup-form__social-media-icons {
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  li {
    list-style: none;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    border: 1px solid #d6d6d6;
    font-size: 1.3rem;
    transition: .3s;
  }

  li a {
    color: dimgray;
  }
}

li.signup-form__google-icon {
  &:hover {
    background: darken(white, 6%);
    cursor: pointer;
  }
}

li.signup-form__facebook-icon {
  &:hover {
    background: darken(white, 6%);
    cursor: pointer;
  }
}

li.signup-form__twitter-icon {
  &:hover {
    background: darken(white, 6%);
    cursor: pointer;
  }
}
