.container {
  background-image: linear-gradient(253deg, #3ba5b4 0,#38ba8a 100%);
  width: 35vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .logo {
    margin-left: 10px;
    margin-top: 10px;
    height: 5%;
  }

  .infoContainer {
    height: 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: -3rem;

    .title {
      color: white;

      font-size: 3.5rem;
      font-family: Neuton, serif;
      font-weight: bold;

      margin-bottom: 2.5rem;
    }

    .text {
      color: white;

      font-size: 1.4rem;
      font-family: Neuton, serif;
      font-weight: 50;
      text-align: center;

      margin-bottom: 2.5rem;
    }
  }

  .signinBtn {
    color: white;
    background: none;

    width: 240px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid white;

    font-family: Neuton, serif;
    font-size: 1.4rem;
    font-weight: 100;

    cursor: pointer;
  }
}
