@font-face {
  font-family: 'Neuton';
  src: url('assets/fonts/Neuton-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neuton';
  src: url('assets/fonts/Neuton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuton';
  src: url('assets/fonts/Neuton-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'Neuton';
  src: url('assets/fonts/Neuton-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
